body {
  margin: 0;
  padding: 0;
  background-color: rgb(227, 232, 238);
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
.headline {
  color: rgb(255, 255, 255);
  font-size: 28px;
  background-color: #8d97cc;
  padding: 20px;
  text-align: center;
  margin-bottom: 60px;
}
#zip,
#feelings,
#generate {
  background: #50279e66;
  margin: 10px auto;
  width: 60%;

  border: none;
  border-radius: 60px;
  height: 40px;
  text-align: center;
  color: white;
  display: block;
  font-size: 20px;
  resize: none;
}
#zip::placeholder,
#feelings::placeholder {
  color: white;
  font-family: sans-serif;
  line-height: 40px;
}

#feelings {
}
#generate {
  width: 30%;
  margin-top: 18px;
  background: #1c2d8f;
  cursor: pointer;
}
#entry {
  width: 60%;
  background: #bca6e466;
  margin: 30px auto;
  border-radius: 15px;
  height: 220px;
}
.title {
  padding: 10px;
  text-align: center;
  font-size: 25px;
}
#entryHolder {
  text-align: center;
  align-items: center;
  width: 100%;
  height: 80%;
  display: grid;
  grid-template-rows: 60%;
  grid-template-columns: 50% 50%;
  font-size: 1.5vw;
}
#content {
  grid-column: 1 / -1;
  font-size: 25px;
}
#temp,
#date {
  font-size: 4vw;
}
